*{
padding: 0;
margin: 0;
}
.padding_Class{
    padding: 1vh ;

}
.border_Class{
    border: 0.1vh solid;
    border-radius: 8px;
}
.margin_Class{
    margin: 0.1vw 1vw;
}
body {
    background-color: rgb(252, 244, 255);
}
.heading{
    display: inline-block;
    margin: 5vh 10vw;
    font-family: Copperplate, Papyrus, fantasy;
    padding: 2vh;
    box-shadow: 10px 10px 10px grey;

}


.weWillProvide{
    /* border: solid 2px ;
    border-radius:  10px; */
    padding: 1vw;
    margin: 2vh 0vh;
    background-color: rgb(255, 223, 194);
    box-shadow: 10px 10px 10px grey;
    font-size:x-large;
    width: 35vw;
}

.inputform{
    /* border: solid 2px ; */
    /* border-radius:  10px; */
    margin: 0vh 1vh;
    padding: 2vw;
    background-color: rgb(255, 250, 180);
    box-shadow: 10px 10px 5px grey;
}
.infoNote{
    /* border: solid 2px ; */
    /* border-radius:  10px; */
    /* margin: ; */
    padding: 1vw;
    background-color: rgb(255, 250, 180);
    box-shadow: 10px 10px 5px grey;

}

.btn{
    align-items: center;
}
table, th, td {
    border:1px solid black;
    padding: 2vh;
  }
  .resultdata{
      margin: 5vh 20vh;

  }

